@import 'variables.less';

html, body {
    font-family: 'Lato', sans-serif;
    background-color: @color-dark;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

header {
    .header-bar {
        display: flex;
        flex-direction: row;
        a{
            text-decoration: none;
        }
    }
    h1 {
      font-weight: 1000;
      font-size: 2.5rem;
      color: @color-font;
      margin-right: 20rem;
    }
    nav {
        margin-top: 3rem;
        a{
        text-decoration: none;
        color: @color-font;
        margin-right: 2rem;
        font-size: 1.15rem;
        }
    }
    .join-button{
        margin-top: 4%;
        margin-left: 5%;
        a {
            text-decoration: none;
            color: @color-call-to-action-header;
            border: 1px solid @color-call-to-action-header;
            padding: 0.7rem 1rem;
            border-radius: 1.5rem;
        }
    }
    .header-content {
        color: @color-font;
        margin: 10% 0 0 5%;
        display: flex;
        .header-text {
            width: 45%;
            margin-right: 10%;
        }
        h2 {
            font-size: 3rem;
            margin-bottom: -1%;
        }
        p {
            font-size: 1.3rem;
        }
        img {
            position: relative;
            
        }
    }
}

.main-section {
    .why-tipswise {
        display: flex;
        justify-content: space-between;
        .main-image {
            img {
                border: 1px solid white;
                position: relative;
                top: 15%;
                margin-left: -10%;
            }
        }
        .main-image2 {
            img {
                border: 2px solid white;
                position: relative;
                top: 20%;
                margin-left: -10%;
            }
        }
    }
    h3 {
        color: @color-font;
        font-size: 2.3rem;
        text-align: center;
        margin-top: 10%;
    }

    h2 {
        color: @color-font;
        font-size: 3rem;
        text-align: center;
        margin-top: 10%;
    }

    .why-us-icons {
        display: flex;
        flex-direction: column;
        margin-top: 8%;
        width: 55%;
        .icon-div {
            display: flex;
            margin-bottom: 7%;
            color: @color-font;
            font-size: 1.2rem;
            img {
                margin-right: 15%;
            }
        h4 {
            font-size: 1.3rem;
        }
        .icon-text {
            position: relative;
            bottom: 1.3rem;
        }
        }
    }
}

footer {
    font-size: 1.2rem;
    color: @color-font;
    text-align: center;
    margin: 5% 0;
}

//FAQ

.FAQ {
    margin-bottom: 5%;
    .contact-button {
        text-align: center;
        display: flex;
        justify-content: center;
        h3 {
            color: @color-font;
            margin: 4rem 0;
            font-size: 2rem;
            background-color: @color-call-to-action-button;
            padding: 0.3rem 1rem 0.3rem 1rem;
            border-radius: 10px;
        }
        
        a {
            text-decoration: none;
        }
    }
    .question-h1 {
        text-align: center;
        color: @color-font;
        font-size: 2rem;
        margin: 7% 0 8% 0;
    }
    .questions {
        color: @color-font;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        h3 {
            font-size: 1.4rem;
        }
        .question-faq {
        width: 28%;
        margin: 5% 5% 0 0;
        }
    }
}

.pricing-section {
    text-align: center;
    color: @color-font;
    font-size: 2rem;
    margin: 7% 0 8% 0;
    p {
        font-size: 1.3rem;
    }
    .pricing-calculator {
        display: flex;
        flex-direction: column;
        align-items: center;
        input {
            margin-bottom: 2%;
        }
        .amountToPay-div {
            width: 150px;
            border: 1px solid white;
            margin-top: 5%;
        }
    }
}

#earnings-input {
    margin-top: 5%;
    width: 30%;
    line-height: 3;
}

.contact {
    .contact-icons {
        display: flex;
        justify-content: center;
        margin-top: 7rem;
        .icon-contact:nth-child(2) {
            margin: 0 10rem;
        }
    }
    div {
        p {
            color: @color-font;
            text-align: center;
            font-size: 1.4rem;
        }
        a{
            text-decoration: none;
            color: @color-call-to-action-header;
        }
    }
    .contact-h1 {
        font-size: 2rem;
        color: @color-font;
        text-align: center;
        margin: 7% 0 8% 0;
    }
}
