//Color Variables

@color-font: white;
@color-dark: #021C1E;
@color-medium: #004445;
@color-light: #2C7873;
@color-very-light: #6FB98F;
@color-call-to-action-header: rgb(11, 165, 216);
@color-call-to-action-button: rgb(2, 63, 83);

//Font sizes

