<!DOCTYPE html>
<html lang='en-us'>
<head>

<meta charset='utf-8'>
<meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1' />
<meta name='viewport' content='width=device-width, initial-scale=1.0'>

<title>Tipsease</title>

<meta name="application-name" content="Tipsease" />
<meta name='author' content='Lambda Moonshine Coalition'>
<link rel='stylesheet' type = 'text/css' href='css/index.css'>
<link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">

<meta name='HandheldFriendly' content='true'>

</head>
<body>
    <div class='container'>
        <header>
            <div class='header-bar'>
            <a href='index.html'><h1>Tipsease</h1></a>
            <nav>
                <a href='pricing.html'>Pricing</a>
                <a href='how-it-works.html'>How it works</a>
                <a href='FAQ.html'>FAQ</a>
                <a href='contact.html'>Contact</a>
            </nav>
            <div class='join-button'>
                <a href='#'>Join the community of tippers</a>
            </div>
            </div>
        </header>
        <section class='pricing-section'>
            <h1>What ends up in your pocket?</h1>
            <p>Here at Tipsease you start off with 0.8% fees for every transaction.
                The more you earn with Tipsease the lower your percentage goes.<br>
            Please check the calculator below to understand exactly how much you need to pay. </p>
            <div class='pricing-calculator'>
                <input id='earnings-input' type='number' name='earnings'>
                <p v-if='earnings < 1000'>{{percentage-low}}</p>
                <p v-if='earnings > 3999'>{{percentage-high}}</p>
                <p v-else>{{percentage-medium}}</p>
            </div>
        </section>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src='vue/calculator.vue'></script>
</body>
</html>